{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="Muhammad Ilham Peruzzi">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="{% static 'css/lab_10.css' %}" />
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    </style>
    <!-- Jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></link>
    <link href="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></link>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <title>
        {% block title %} Lab 10 By Muhammad Ilham Peruzzi {% endblock %}
    </title>
</head>
<body class="w3-theme-l3">
<header>
    <!--<h1 style="text-align:center">
        <small><em> Change This With Your Custom Header </em></small>
    </h1>-->
    <!-- Your Header Here -->
     {% include "lab_10/partials/header.html" %}
</header>
<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" id="django-messages">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}

        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>
<footer>
    <hr>
    {% block footer %}

    <!--<h1 style="text-align:center">
        <small><em> Change This With Your Custom Footer </em></small>
    </h1>-->
    <!-- Your Footer Here -->
     {% include "lab_10/partials/footer.html" %}
    {% endblock %}
</footer>

</body>
</html>
